@page "{DiamondId}"
@model diamond_shop_management.Pages.DiamondManagement.UpdateModel
@{
    ViewData["Title"] = "Diamond Update";
}


<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Diamond Update
            </h2>
        </div>
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group text-center">
                    @if (@Model.Diamond != null && Model.Diamond.Media != null)
                    {
                        <img src="~/@Model.Diamond.Media.Url" alt="Diamond Image" width="30%">
                    }
                    else
                    {
                        <img src="" alt="No image" width="30%">
                    }
                </div>
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert alert-danger" id="message" role="alert">
                        @Model.Message
                    </div>
                }
                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input type="file" id="ImageFile" name="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.Origin"></label>
                    <select asp-for="Diamond.Origin" class="form-control" asp-items="@(new SelectList(Model.Countries))">
                        <option value="">Select Origin</option>
                    </select>
                    <span asp-validation-for="Diamond.Origin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.Color"></label>
                    <select asp-for="Diamond.Color" class="form-control" asp-items="@(new SelectList(Model.Colors))">
                        <option value="">Select Color</option>
                    </select>
                    <span asp-validation-for="Diamond.Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.Cut"></label>
                    <select asp-for="Diamond.Cut" class="form-control" asp-items="@(new SelectList(Model.Cuts))">
                        <option value="">Select Cut type of diamond</option>
                    </select>
                    <span asp-validation-for="Diamond.Cut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.Clarity">Clarity (%)</label>
                    <input asp-for="Diamond.Clarity" class="form-control" />
                    <span asp-validation-for="Diamond.Clarity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.Weight">Weight (carats)</label>
                    <input asp-for="Diamond.Weight" class="form-control" />
                    <span asp-validation-for="Diamond.Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.Price">Price ($)</label>
                    <input asp-for="Diamond.Price" class="form-control" />
                    <span asp-validation-for="Diamond.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.PromotionId">Promotion</label>
                    <select asp-for="Diamond.PromotionId" class="form-control" asp-items="ViewBag.Promotions">
                        <option value="">Select Promotion</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Diamond.IsSold">IsSold</label>
                    <input asp-for="Diamond.IsSold" class="form-control" />
                    <span asp-validation-for="Diamond.IsSold" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Diamond.IsDeleted" class="form-control"></input>
                <div class="form-group">
                    <label asp-for="Diamond.CreatedAt">Created At</label>
                    <input asp-for="Diamond.CreatedAt" class="form-control" readonly style="pointer-events:none" />
                    <span asp-validation-for="Diamond.CreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Diamond.MediaId" />
                    <a asp-page="/DiamondManagement/ViewDiamond" class="btn btn-secondary">Back to List</a>
                    <button type="submit" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-primary">Update</button>
                </div>
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div style="color: red" id="error-message">@Model.Message</div>
                }
            </form>
        </div>

        <div class="heading_container heading_center" style="margin-top: 2%">
            <h3>
                List Paperwork of diamond
            </h3>
        </div>
        <div class="text-right mb-3">
            <a asp-page="/PaperworkManagement/Create" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-primary">Create New Certificate</a>
        </div>
        @if (Model.Paperworks == null || !Model.Paperworks.Any())
        {
            <div class="alert alert-info text-center" role="alert">
                There are no paperwork.
            </div>
        }
        else
        {
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Type</th>
                            <th class="text-center">Created Date</th>
                            <th class="text-center">Expiration Date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    @foreach (var paperwork in Model.Paperworks)
                    {
                        <tbody>
                            <tr>
                                <td class="text-center">@paperwork.Type</td>
                                <td class="text-center">@paperwork.CreatedDate</td>
                                <td class="text-center">@paperwork.ExpirationDate</td>
                                <td class="text-center">
                                    <a asp-page="/DiamondManagement/UpdateCertificate" asp-route-paperworkId="@paperwork.Id" class="btn btn-warning">Update</a>
                                    <a asp-page="/PaperworkManagement/Delete" asp-route-paperworkId="@paperwork.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        }

        <div class="container">

            <nav aria-label="Page navigation" style="margin-top: 2%">
                <ul class="pagination justify-content-center">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/DiamondManagement/Update" asp-route-diamondId="@Model.Diamond.Id" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                        </li>
                    }

                    <li class="page-item active">
                        <a class="page-link" asp-page="/DiamondManagement/Update" asp-route-diamondId="@Model.Diamond.Id" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
                    </li>

                    @if (Model.PageNumber < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/DiamondManagement/Update" asp-route-diamondId="@Model.Diamond.Id" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- end shop section -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

