@page
@model diamond_shop_management.Pages.AccessoryManagement.ViewAccessoryModel
@{
    ViewData["Title"] = "ViewAccessory";
}

<div class="text-center">
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Latest Products
                </h2>
            </div>
            <div class="text-right mb-3">
                <a asp-page="/AccessoryManagement/CreateAccessory" class="btn btn-primary">Create New Accessory</a>
            </div>
            @if (Model.Accessories == null || !Model.Accessories.Any())
            {
                <div class="alert alert-info" role="alert">
                    There are no accessories.
                </div>
            }
            else
            {
                <div class="row">
                    @foreach (var accessory in Model.Accessories)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="box">
                                <a asp-page="/AccessoryManagement/AccessoryDetail" asp-route-accessoryId="@accessory.Id">
                                    <div class="img-box">
                                        @if (!string.IsNullOrEmpty(accessory.MediaUrl))
                                        {
                                            <img src="@accessory.MediaUrl" alt="Accessory Image">
                                        }
                                        else
                                        {
                                            <img src="/images/Accessory.png" alt="Accessory Image">
                                        }
                                    </div>
                                    <div>
                                        <div>Name: @accessory.Name</div>
                                        <div>Price: @accessory.Price</div>
                                        @if (!string.IsNullOrEmpty(accessory.Discount))
                                        {
                                            <h6>Discount: @accessory.Discount</h6>
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="container">

                <nav aria-label="Page navigation" style="margin-top: 2%">
                    <ul class="pagination justify-content-center">
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./ViewAccessory" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                            </li>
                        }

                        <li class="page-item active">
                            <a class="page-link" asp-page="./ViewAccessory" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
                        </li>

                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./ViewAccessory" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
