@page
@model diamond_shop_management.Pages.AccessoryManagement.ViewAccessoryModel
@{
    ViewData["Title"] = "View Accessory";
}

<div class="text-center">
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="text-right mb-3">
                <a asp-page="/AccessoryManagement/CreateAccessory" class="btn btn-primary">Create New Accessory</a>
            </div>
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-danger" id="message" role="alert">
                    @Model.Message
                </div>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var accessory in Model.Accessories)
                    {
                        <tr>
                            <td>@accessory.Name</td>
                            <td>@accessory.Price $</td>
                            <td>
                                <a asp-page="/AccessoryManagement/AccessoryDetail" asp-route-accessoryId="@accessory.Id" class="btn btn-info btn-sm me-1">Detail</a>
                                <a asp-page="/AccessoryManagement/UpdateAccessory" asp-route-accessoryId="@accessory.Id" class="btn btn-warning btn-sm me-1">Update</a>
                                <a asp-page="/AccessoryManagement/DeleteAccessory" asp-route-accessoryId="@accessory.Id" class="btn btn-danger btn-sm me-1">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="container">
                <nav aria-label="Page navigation" style="margin-top: 2%">
                    <ul class="pagination justify-content-center">
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./ViewAccessory" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                            </li>
                        }
                        <li class="page-item active">
                            <a class="page-link" asp-page="./ViewAccessory" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
                        </li>
                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./ViewAccessory" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    