@page
@model diamond_shop_management.Pages.Orders.OrderDetails

@{
    ViewData["Title"] = "Order Details";
}

@if ((User.Identity?.IsAuthenticated ?? false))
{
    <div class="container mt-5">
        <h2 class="text-center mb-4">Order Details</h2>

        @if (Model.Order != null)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order ID: @Model.Order.Id</h5>
                    <p class="card-text" hidden="hidden"><strong>Customer ID:</strong> @Model.Order.CustomerId</p>
                    <p class="card-text"><strong>Customer Name</strong> @Model.Order.CustomerName </p>
                    <p class="card-text"><strong>Phone Number</strong> @Model.Order.PhoneNumber </p>
                    <p class="card-text"><strong>Order Date:</strong> @Model.Order.Date</p>
                    <p class="card-text"><strong>Status:</strong> @Model.Order.Status</p>
                    <p class="card-text"><strong>Total Price:</strong> $@Model.Order.TotalPrice</p>
                    <h6>Order Details</h6>
                    <ul>
                        @foreach (var diamond in Model.DiamondResponses)
                        {
                            <li>
                                <div>
                                    Description (Origin, Color, Cut, Clarity, Weight): @diamond.Origin, @diamond.Color, @diamond.Cut, @diamond.Clarity, @diamond.Weight - <span>Price: @diamond.Price$</span>
                                    <a asp-page="" class="btn btn-success ml-2">Diamond Detail</a>
                                </div>
                            </li>
                        }
                    </ul>
                    
                    @if (Model.Order.Description != null)
                    {
                        <div class="mt-2">
                            <h3 class="">Cancel reason</h3>
                            <p>@Model.Order.Description</p>
                        </div>
                    }

                    @if (User.IsInRole("Manager"))
                    {
                        <div class="mt-4 d-flex flex-wrap">
                            <a asp-page="/Orders/OrdersList" class="btn btn-info m-2">Return to Manage Orders</a>
                            @if (Model.Order.Status == "Pending")
                            {
                                <a asp-page="/Delivery/CreateDelivery" asp-route-id="@Model.Order.Id" class="btn btn-primary m-2">Create Delivery</a>
                            }
                            @if (Model.Order.Status == "Shipped" && (Model.Order.Deliveries.LastOrDefault().Status == "Completed"))
                            {
                                <a asp-page="/Orders/OrderDeliveries" asp-route-orderId="@Model.Order.Id" class="btn btn-primary m-2">Update Delivery</a>
                            }
                            @if (Model.Order.Status != "Cancelled" && Model.Order.Status != "Delivered")
                            {
                                <a asp-page="/Orders/CancelOrder" asp-route-id="@Model.Order.Id" class="btn btn-danger m-2">Cancel Order</a>
                            }
                            @if(Model.Order.Status != "Pending" && Model.Order.Status != "Cancelled")
                            {
                                <a asp-page="/Orders/OrderDeliveries" asp-route-orderId="@Model.Order.Id" class="btn btn-light m-2">See Delivery Details</a>
                            }
                            @if ((Model.Order.Status == "Cancelled" && Model.Order.Deliveries.Count > 0 ))
                            {
                                <a asp-page="/Orders/OrderDeliveries" asp-route-orderId="@Model.Order.Id" class="btn btn-light mt-2">See Delivery Details</a>
                            }
                            @if (Model.Order.Status == "Delivered")
                            {
                                <a asp-page="/Delivery/CreateDelivery" asp-route-id="@Model.Order.Id" class="btn btn-success m-2">Update Warranty</a>
                            }
                            
                        </div>
                    }
                    
                    @if (User.IsInRole("User"))
                    {
                        <a asp-page="/Orders/SelfOrder" class="btn btn-info m-2">Return to Orders</a>
                        @if (Model.Order.Status == "Pending")
                        {
                               <a asp-page="/Orders/CancelOrder" asp-route-id="@Model.Order.Id" class="btn btn-danger m-2">Cancel Order</a>
                        }
                        @if (Model.Order.Status != "Pending")
                        {
                            <a asp-page="/Orders/OrderDeliveries" class="btn btn-light m-2" asp-route-orderId="@Model.Order.Id">See Delivery Details</a>
                        }
                    }
                    

                </div>
            </div>
        }
        else
        {
            <p class="text-center">Order details not found.</p>
        }
    </div>
}