@page "{diamondId:guid}"
@model diamond_shop_management.Pages.PaperworkManagement.ViewModel
@{
    ViewData["Title"] = "Paperwork List";
}

<div class="text-center">
    <section class="shop_section layout_padding">
        <div class="container">

            <div class="heading_container heading_center">
                <h2>
                    Diamond
                </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                        <div class="img-box">
                            @if (!string.IsNullOrEmpty(@Model.Diamond.MediaUrl))
                            {
                                <img src="@Model.Diamond.MediaUrl" alt="Diamond Image">
                            }
                            else
                            {
                                <img src="/images/Diamond.png" alt="Diamond Image">
                            }
                        </div>
                        <div>
                            <div>Origin: @Model.Diamond.Origin</div>
                            <div>Color: @Model.Diamond.Color</div>
                            <div>Cut: @Model.Diamond.Cut</div>
                            <div>Clarity: @Model.Diamond.Clarity</div>
                            <div>Weight: @Model.Diamond.Weight</div>
                            <div>Price: $@Model.Diamond.Price</div>
                            <div>Status: @(Model.Diamond.IsSold.HasValue && Model.Diamond.IsSold.Value ? "Sold" : "Available")</div>
                            @if (!string.IsNullOrEmpty(Model.Diamond.PromotionDescription))
                            {
                                <h6>Promotion: @Model.Diamond.PromotionDescription</h6>
                            }
                            @if (!string.IsNullOrEmpty(Model.Message))
                            {
                                <div style="color: red" id="error-message">@Model.Message</div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading_container heading_center" style="margin-top: 2%">
                <h3>
                    List Paperwork of diamond
                </h3>
            </div>
            <div class="text-right mb-3">
                <a asp-page="/DiamondManagement/DiamondDetail" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-secondary">Back</a>
                <a asp-page="/PaperworkManagement/Create" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-primary">Create New Paperwork</a>
            </div>
            @if (Model.Paperworks == null || !Model.Paperworks.Any())
            {
                <div class="alert alert-info" role="alert">
                    There are no paperwork.
                </div>
            }
            else
            {
                <div class="row">
                    @foreach (var paperwork in Model.Paperworks)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="box">
                                <a asp-page="/PaperworkManagement/View" asp-route-paperworkId="@paperwork.Id">
                                    <div class="img-box">
                                        @if (!string.IsNullOrEmpty(paperwork.MediaUrl))
                                        {
                                            <img src="@paperwork.MediaUrl" alt="Paperwork Image">
                                        }
                                        else if (paperwork.Type == "certificate")
                                        {
                                            <img src="/images/DiamondCertificate.jpg" alt="Paperwork Image">
                                        }
                                        else if (paperwork.Type == "warranty")
                                        {
                                            <img src="/images/warranty.jpg" alt="Paperwork Image">
                                        }
                                    </div>
                                    <div>
                                        <div>Type: @paperwork.Type</div>
                                        <div>Created Date: @paperwork.CreatedDate</div>
                                        <div>Expiration Date: @paperwork.ExpirationDate</div>
                                        <div>Status: @paperwork.Status</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }

            <div class="container">

                <nav aria-label="Page navigation" style="margin-top: 2%">
                    <ul class="pagination justify-content-center">
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./View" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                            </li>
                        }

                        <li class="page-item active">
                            <a class="page-link" asp-page="./View" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
                        </li>

                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./View" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>

<!-- end shop section -->
