@page
@model diamond_shop_management.Pages.DiamondShop.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<section class="shop_section layout_padding">
    <div class="container">
        @*  <div class="heading_container heading_center">
        <h2>
        Detail
        </h2>
        </div>
        <div class="row">
        <form>
        <div class="form-group">
        <label asp-for="Diamond.Origin"></label>
        <input asp-for="Diamond.Origin" class="form-control" readonly style="pointer-events:none" />
        </div>
        <div class="form-group">
        <label asp-for="Diamond.Color"></label>
        <input asp-for="Diamond.Color" class="form-control" readonly style="pointer-events:none" />
        </div>
        <div class="form-group">
        <label asp-for="Diamond.Cut"></label>
        <input asp-for="Diamond.Cut" class="form-control" readonly style="pointer-events:none" />
        </div>
        <div class="form-group">
        <label asp-for="Diamond.Clarity"></label>
        <input asp-for="Diamond.Clarity" class="form-control" readonly style="pointer-events:none" />
        </div>
        <div class="form-group">
        <label asp-for="Diamond.Weight"></label>
        <input asp-for="Diamond.Weight" class="form-control" readonly style="pointer-events:none" />
        </div>
        <div class="form-group">
        <label asp-for="Diamond.Price"></label>
        <input asp-for="Diamond.Price" class="form-control" readonly style="pointer-events:none" />
        </div>
        <div class="form-group">
        <a asp-page="/DiamondManagement/ViewDiamond" class="btn btn-secondary">Back to List</a>
        <a asp-page="/PaperworkManagement/View" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-primary">Paperwork</a>
        </div>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
        <div style="color: red" id="error-message">@Model.Message</div>
        }
        </form>
        </div> *@
        <div class="text-Left mb-3">
            <a asp-page="/DiamondShop/BrowseDiamond" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-secondary">Back</a>
            @* <a asp-page="/PaperworkManagement/Create" asp-route-diamondId="@Model.Diamond.Id" class="btn btn-primary">Create New Paperwork</a> *@
        </div>
        <div class="heading_container heading_center">
            <h2>
                Diamond detail
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        @if (@Model.Diamond.Media is not null)
                        {
                            <img src="~/@Model.Diamond.Media.Url" alt="Diamond Image">
                        }
                        else
                        {
                            <img src="" alt="No image">
                        }
                    </div>
                    <div class="text-center">
                        <div>Origin: @Model.Diamond.Origin</div>
                        <div>Color: @Model.Diamond.Color</div>
                        <div>Cut: @Model.Diamond.Cut</div>
                        <div>Clarity: @Model.Diamond.Clarity</div>
                        <div>Weight: @Model.Diamond.Weight carats</div>
                        <div>Price: @Model.Diamond.Price $</div>
                        @if (@Model.Diamond != null && Model.Diamond.Promotion is not null)
                        {
                            <div>Promotion: @(Model.Diamond.Promotion.DiscountRate * 100) %</div>
                        }
                        <div>IsSold: @Model.Diamond.IsSold</div>
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {
                            <div style="color: red" id="error-message">@Model.Message</div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="heading_container heading_center" style="margin-top: 2%">
            <h3>
                List Paperwork of diamond
            </h3>
        </div>
        @if (Model.Paperworks == null || !Model.Paperworks.Any())
        {
            <div class="alert alert-info text-center" role="alert">
                There are no paperwork.
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var paperwork in Model.Paperworks)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <a asp-page="/PaperworkManagement/PaperworkDetail" asp-route-paperworkId="@paperwork.Id">
                                <div class="img-box">
                                    @if (@paperwork.Media is not null)
                                    {
                                        <img src="~/@paperwork.Media.Url" alt="Diamond Image">
                                    }
                                    else
                                    {
                                        <img src="" alt="No image" width="50%">
                                    }
                                </div>
                                <div class="text-center">
                                    <div>Type: @paperwork.Type</div>
                                    @if (@paperwork.ExpirationDate is not null)
                                    {
                                        <div>Expiration Date: @paperwork.ExpirationDate</div>
                                    }
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="container">

            <nav aria-label="Page navigation" style="margin-top: 2%">
                <ul class="pagination justify-content-center">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/DiamondManagement/DiamondDetail" asp-route-diamondId="@Model.Diamond.Id" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                        </li>
                    }

                    <li class="page-item active">
                        <a class="page-link" asp-page="/DiamondManagement/DiamondDetail" asp-route-diamondId="@Model.Diamond.Id" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
                    </li>

                    @if (Model.PageNumber < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/DiamondManagement/DiamondDetail" asp-route-diamondId="@Model.Diamond.Id" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- end shop section -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
