@page
@model diamond_shop_management.Pages.AccessoryShop.BrowseAccessoryModel
@{
    ViewData["Title"] = "BrowseAccessory";
}

<div class="text-center">
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Browse Accessories
                </h2>
            </div>
            <div class="container">
                <div class="d-flex justify-content-end">
                    <a asp-page="/Card/Card" class="btn btn-success">Go To Cart</a>
                </div>
            </div>
            @if (Model.Accessories == null || !Model.Accessories.Any())
            {
                <div class="alert alert-info" role="alert" style="margin-top:2%">
                    No accessories available.
                </div>
            }
            else
            {
                <div class="row">
                    @foreach (var accessory in Model.Accessories)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="box">
                                <div class="img-box">
                                    @if (@accessory.Media is not null)
                                    {
                                        <img src="~/@accessory.Media.Url" alt="Accessory Image">
                                    }
                                    else
                                    {
                                        <img src="" alt="No Image">
                                    }
                                </div>
                                <div>
                                    <div>Name: @accessory.Name</div>
                                    <div>Price: @accessory.Price</div>
                                </div>
                                <div>
                                    <form method="post" asp-page-handler="AddToCart">
                                        <input type="hidden" name="accessoryId" value="@accessory.Id" />
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="container">
                <nav aria-label="Page navigation" style="margin-top: 2%">
                    <ul class="pagination justify-content-center">
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./BrowseAccessory" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                            </li>
                        }

                        <li class="page-item active">
                            <a class="page-link" asp-page="./BrowseAccessory" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
                        </li>

                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="./BrowseAccessory" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>  
        </div>
    </section>
</div>